.Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-style: italic;
  padding: 8px;
  border-top: 1px solid white;
  margin-top: 24px;
  bottom: 0;
  position: fixed;
  width: 100%;
}
